@import url('https://fonts.googleapis.com/css2?family=Langar&family=Lobster&family=Yellowtail&display=swap');



@media only screen and (max-width: 600px){
    /* To do */
    
   #cabecalho-nome{
      position: absolute;
      max-width:100%;
  }
  
  
  figure {
      position: relative;
      display: flex;
      flex-flow: column;
      margin: auto;
      max-width:80%;
      max-height:80%;
      align-items:center;
  }
  
  figcaption {
      position:relative; 
      max-width:100%;
      max-height:47%;
      color: black;
      font-family: 'Langar';
  }
  
  input[type=text]{
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
      background-color:#f8fafc;
      border-radius:10px;
      max-width:100%;
      max-height:33px;
      letter-spacing: 1px;
      text-align: center;
  }

  /* Type Number */
  
  .sm-number-input.number-input {
    border: 2px solid #ddd;
    max-width: 35%;
  }
  .sm-number-input.number-input button {
    outline: none;
    width:20%;
    height: 1rem;
    padding-top: .8rem;
  }
  .sm-number-input.number-input button.minus {
    padding-left: 5px;
  }
  .sm-number-input.number-input button.plus {
    padding-left: 2px;
  }
  .sm-number-input.number-input button:before,
  .sm-number-input.number-input button:after {
    width: 0.8rem;
    background-color: #212121;
  }
  /* Principal */
  .sm-number-input.number-input input[type=number] {
    max-width: 45px;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size:20px;
    height: 1.5rem;
    font-weight: bold;
    outline: none;
  }
}

/* ========================== */

#cabecalho-nome{
    position: relative;
    width: 100%;
}


figure {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 100%;
    justify-content: center;
}

nav h6{
  margin-right:2px;
  font-family: 'Langar';
  letter-spacing:1px;
}

.row{
  display:flex;
  font-family:'Langar';
}

.col{
  flex-grow: 1;
}


figcaption {
    position: absolute; 
    width: 100%;
    color: black;
    font-family: 'Langar';
    top:10px;
    left:25%;
}

input[type=text]{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color:#f8fafc;
    border-radius:10px;
    width:47%;
    height:33px;
    letter-spacing: 1px;
    text-align: center;
}

select{
    box-shadow:2px 1px 2px black;
    border-radius:6px;
    text-shadow:0px 0px 2px white;
    color:#B22222;
    font-family: 'Langar' !important;
    letter-spacing: 1px;
    background:#f8fafc;
}

#first_column{
  position: relative;
  width: 35%;
}

/* Attributes */

.attribute{
  width: 90px;
  height: 90px;
  border:3px #B22222;
  border-style:ridge;
  border-radius: 20%;
  overflow: hidden;
  margin-bottom: 22.5px;
  text-align:center;
  font-family:'Langar';
  letter-spacing:1px;
  color:#343a40;
}

.square-mod{
  position:relative;
  left:20px;
  width: 40px;
  height: 28px;
  border:3px #B22222;
  border-style:ridge;
  background-color: #f8fafc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom:none;
  font-size:20px;
  color:#B22222;
}


/* Type Number attributes*/

.attribute .lg-number-input.number-input {
    border: none;
    width: 100%;
  }

.attribute .lg-number-input.number-input button {
    outline: none;
    width:28%;
    height: 1rem;
    padding-top: .8rem;
  }

.attribute .lg-number-input.number-input button.minus {
    padding-left: 5px;
  }

.attribute .lg-number-input.number-input button.plus {
    padding-left: 2px;
  }

.attribute .lg-number-input.number-input input[type=number] {
    max-width: 30px;
    padding: .2rem;
    font-size:18px;
    background-color:#f8fafc;
    border: none;
    color:#343a40;
    height: 1.5rem;
    font-family:'langar';
    font-weight: bold;
    outline: none;
  }

/* Type number on LIFE */

.basic-info{
  position:relative;
  width:120px;
  height:120px;
  text-align:center;
}

.basic-info h5{
  color:#343a40;
  font-weight:revert;
  letter-spacing:2px;
  margin-bottom:5px;
  font-size:15px;
  font-family:'langar';
}

.life figcaption{
  position:relative;
  width:100px;
  align-items:center;
  top:-50%;
  left:9%;
}

.basic-info .lg-number-input.number-input {
    position:relative;
    border: none;
    width: 100px;
  }


.basic-info .number-input{
  position:relative;
  width:100px;
}

.basic-info .lg-number-input.number-input button {
    position: relative;
    outline: none;
    width:15%;
    height: 1rem;
    padding-top: .8rem;
  }

.basic-info .lg-number-input.number-input input[type=number] {
    max-width: 40px;
    padding: .2rem;
    font-size:17px;
    background-color:transparent;
    border: none;
    color:#343a40;
    height: 1.5rem;
    font-family:'langar';
    font-weight: bold;
    outline: none;
  }


/* Type Number Current Life  */

.current-life figcaption{
  position:relative;
  width:100px;
  align-items:center;
  top:-30%;
  left:9%;
}

/* CA */

.ca figcaption{
  position:relative;
  width:100px;
  align-items:center;
  top:-50%;
  left:8%;
}

/* basic-info-circle */

.info-circle{
  margin-top:8px;
}

.circle{
  position:relative;
  left:14%;
  height:60px;
  width:77px;
  border: 3px solid black;
  border-radius:50%; 
}

.circle .number-input{
  position:relative;
  width:100px;
  align-items:center;
  top:20%;
  left:-21%;
}

/* pericias */

.pericias{
  width:150px;
  height:auto;
  border-radius:20px;
  padding-left:6px;
  padding-top:5px;
  border:3px #B22222;
  border-style:ridge;
}

.pericias h6{
  font-weight:bold;
  letter-spacing:2px;
}

.pericias p,label{
  font-size:11px;
}

.pericias p{
  font-weight:bold;
}

.pericias label{
  cursor:pointer;
  display:block;
  padding-left:17px;
  position:relative;
}

.pericias input{
  display:none;
}

label::before{
  content:"";
  width:15px;
  height:15px;
  border:1px solid #9ca2a8;
  display:inline-block;
  box-sizing:border-box;
  position:absolute;
  left:0;
  top:-1.5px;
  background-color:transparent;
}

/*label::after{
  content:"";
  width:12px;
  height:12px;
  border:1px solid #343a40;
  display:inline-block;
  box-sizing:border-box;
  position:absolute;
  left:1.5px;
  top:1px;
}*/

input:checked + label::before{
  background-color:#B22222;
  transition:0.5s;
}

/* Terceira Coluna */

.big-circle{
  border: 5px solid #B22222;
  height:200px;
  width:200px;
  border-radius:50%;
  border-style:ridge;
}

.others{
  border:5px solid #B22222;
  border-style:ridge;
  height:420px;
  width:200px;
  border-radius:20px;
  padding:9px;
}

.others h6{
  font-weight:bold;
}

.others textarea{
  outline:none;
  resize:none;
}

.notes{
    background-attachment: local;
    background-image:
        linear-gradient(to right, #f8fafc 10px, transparent 10px),
        linear-gradient(to left, #f8fafc 10px, transparent 10px),
        repeating-linear-gradient(#f8fafc, #f8fafc 30px, #343a40 30px, #ccc 31px, #f8fafc 31px);
    line-height: 31px;
    padding: 8px 10px;
    width:170px;
    height:350px;
    border:none;
}

/* Accordion */
.accordion {
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  resize:none;
}

.active, .second-accordion:hover {
  background-color: #b22222e3;
}

.first-accordion{
  background-color: transparent;
  color:#343a40;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.5s;
  outline:none;
  border-radius:3px;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;

}

.first-panel{
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.second-accordion{
  background-color: #a12424;
  color: #f8fafc;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;  
  font-size: 15px;  
  border-radius:3px;
}


.second-panel{
  padding: 0 10px;
  background-color: #f8fafc;
}

.panel .notes{
  width:250px;
  resize:none;
  outline:none;
}



/* type number */
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
  .number-input {
    
  }
  .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    
  }
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-35%, -200%);
  }
  .number-input button.plus:after {
    transform: translate(-35%, -200%) rotate(90deg);
  }
  .number-input input[type=number] {
    text-align: center;
  }
  
  
  .lg-number-input.number-input {
    border: 2px solid #ddd;
    width: 50%;
  }
  .lg-number-input.number-input button {
    outline: none;
    width:25%;
    height: 1rem;
    padding-top: .8rem;
  }
  .lg-number-input.number-input button.minus {
    padding-left: 5px;
  }
  .lg-number-input.number-input button.plus {
    padding-left: 2px;
  }
  .lg-number-input.number-input button:before,
  .lg-number-input.number-input button:after {
    width: 0.8rem;
    background-color: #212121;
  }
  /* Principal */
  .lg-number-input.number-input input[type=number] {
    width: 25px;
    border: solid #ddd;
    border-width: 0 2px;
    font-size:18px;
    height: 1.3rem;
    font-family:'langar';
    font-weight: bold;
    outline: none;
  }
  @media not all and (min-resolution:.001dpcm)
  { @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .number-input.sm-number-input.safari_only button:before, 
    .number-input.sm-number-input.safari_only button:after {
      margin-top: -rem;
    }
  }}

  /* Submit */
  
  #submit{
    position: relative;
    left: 51%;    
    top:-25px;
    width:90%;
    max-height:100%;
  }